:root {
  --accent-color: #f67280;
  --accent-light: #fbc4ab;
  --text-dark: #333333;
  --bg-light: #fffaf6;
  --font-heading: "Orbitron", sans-serif;
  --font-body: "Poppins", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
